body{
	background-color:black;
	color: white;
	display:grid;
	font-family: Arial;
	/*grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-template-areas: 
	"menu menu"
	"datum datum"
	"snelheid tijd"
	"dagen dagen"
	"afstand afstand"
	"brandstof brandstof"
	"water water"
	
	;*/
}

/*logo styles*/

#spaceFoto{
	width:60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#spaceLogo{
	margin: 0px;
}

#klok{
	margin-left: auto;
	margin-right: auto;
}

.overdag{
	margin-top: 20px;
	text-align: center;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	width: 160px;
	height: 160px;
	background-color: red;
}


.nacht{
	margin-top: 20px;
	text-align: center;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	width: 160px;
	height: 160px;
	background-color: blue;
}


.fade{
	color: #5c5e5d;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.noFade{
	color: white;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}


#dag{
	text-transform: uppercase;
	font-size: 16px;

}

#datum{
	text-transform: uppercase;
	font-size: 16px;
}

#welkomBlok{
	background-color: white;
	color: black;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 10px;
	margin-top: 30px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#welkomTekst{
	text-align: center;
}
























