body{
	background-color:black;
	color: white;
	display:grid;
	font-family: Arial;
	/*grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-template-areas: 
	"menu menu"
	"datum datum"
	"snelheid tijd"
	"dagen dagen"
	"afstand afstand"
	"brandstof brandstof"
	"water water"
	
	;*/
}

/*logo styles*/

#spaceFoto{
	width:60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#spaceLogo{
	margin: 0px;
}

#klok{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.container{
	margin-top: 100px;
	text-align: center;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}

#dag{
	text-transform: uppercase;
	font-size: 16px;

}

#datum{
	text-transform: uppercase;
	font-size: 16px;
}


























